@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'ComicShanns';
    src: url('/fonts/comic-shanns.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  #avatar-image {
    border-radius: 50% !important;
  }

  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: theme('colors.transparent');
    border-radius: 20px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: theme('colors.primary');
    border-radius: 20px;
    border: 2px solid #1e293b;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.primary');
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
